---
import Layout         from "../layouts/Layout.astro";
import Nav            from "../components/Nav.astro";
import Hero           from "../components/Hero.astro";
import Services       from "../components/Services.astro";
import About          from "../components/About.astro";
import Footer         from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Services />
    <About />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>
